guienv/
/02_Qt_Designer/04_CompileUiToPython/__pycache__
/02_Qt_Designer/05_Designer_Resources/__pycache__
/02_Qt_Designer/06_QMainWindow/__pycache__
/03_Dialogs/01_QDialog/__pycache__
/03_Dialogs/02_QDialogButtonBox/__pycache__
/03_Dialogs/03_CommonDialog/__pycache__
/04_Styling/01_Styles/__pycache__
/04_Styling/02_QPalette/__pycache__
/04_Styling/03_DarkStyle/__pycache__
/04_Styling/04_Stylesheets/__pycache__
/05_QSettings/01_SaveLoad/__pycache__
/06_QFileQDir/01_QFile/__pycache__
/06_QFileQDir/02_QDir/__pycache__
/07_Network/01_QNetworkAccessManager/__pycache__
/07_Network/02_JSONApi/__pycache__
